NEXT_PUBLIC_CONTACT_EMAIL=info@cornortech.com
NEXT_PUBLIC_FOOTER_CONTACT_EMAIL=info@cornortech.com
NEXT_PUBLIC_CONTACT_PHONE_DISPLAY="+977 9828750115"
NEXT_PUBLIC_CONTACT_PHONE_TEL=+9779828750115
NEXT_PUBLIC_WHATSAPP_NUMBER=9779828750115
NEXT_PUBLIC_WHATSAPP_MESSAGE="Hello Brand With Cornor Team, I would like to discuss our digital marketing needs!"
NEXT_PUBLIC_COMPANY_NAME="Cornor Tech Pvt. Ltd."
NEXT_PUBLIC_COMPANY_ADDRESS="Tilottama, Butwal, Nepal"
NEXT_PUBLIC_BRAND_WEBSITE_URL=https://www.cornortech.com
NEXT_PUBLIC_MAPS_URL=https://share.google/ipeEuiQ4lKklENKRz
NEXT_PUBLIC_MAPS_EMBED_URL="https://www.google.com/maps?q=Cornor+Tech+Pvt.+Ltd.&output=embed"
